:root {
  --body-background: #f6f7f8;
  --primary-color: #072635;
  --secondary-color: #707070;
  --nav-item-active: #01f0d0;
  --nav-item-hover: #01f0d025;
  --white: #fff;
  --blood-pressure-card: #f4f0fe;
  --respiratory-card: #e0f3fa;
  --temperature-card: #ffe6e9;
  --heart-rate-card: #ffe6f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary-color);
}

body {
  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  flex-direction: column;
  background: var(--body-background);
  padding: 20px;
}

/* ================================= utility start =============================== */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.wrap {
  flex-wrap: wrap;
}

.gap-1 {
  gap: 2px;
}

.gap-2 {
  gap: 4px;
}

.gap-3 {
  gap: 8px;
}

.gap-4 {
  gap: 16px;
}

.gap-5 {
  gap: 20px;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.font-extra-bold {
  font-weight: 800;
}

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-22 {
  font-size: 22px;
}

.font-24 {
  font-size: 24px;
}

.font-30 {
  font-size: 30px;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.section-heading {
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 20px;
}

/* ================================= utility End =============================== */

/* ================================= Header start =============================== */
header {
  padding: 10px 20px;
  height: 72px;
  background: var(--white);
  border-radius: 70px;
}

.nav-items {
  list-style-type: none;
}

.nav-item {
  text-decoration: none;
  color: var(--primary-color);
  padding: 12px;
  height: 41px;
  border-radius: 41px;
  transition: 0.2s;
}

.nav-item.active {
  background: var(--nav-item-active);
}

.nav-item:hover {
  background: var(--nav-item-hover);
}

.nav-item span {
  text-decoration: none;
  color: var(--primary-color);
}

.profile-container {
  height: 41px;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
}

.profile-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.right-container {
  text-wrap: nowrap;
}

.right-container button {
  width: 20px;
}

.right-container .divider {
  height: '100%';
  border-left: 1px solid var(--secondary-color);
}

/* ==================== Header end ================= */

/* ==================== Main start ================= */
main {
  margin-top: 30px;
}

main section {
  border-radius: 16px;
}

/* ======================= patients list section start ======================= */
section.start {
  flex: 0.225;
  background: var(--white);
  border-radius: 16px;
}

section.start .head {
  padding: 16px;
}

section.start #patients-list {
  height: calc(100vh - 210px);
  overflow-y: auto;
  scrollbar-width: thin;
}

.search {
  width: 20px;
}

.patient {
  padding: 15px;
  cursor: pointer;
}

.patient:hover {
  background-color: var(--nav-item-hover);
}

.patient.selected {
  background-color: var(--nav-item-active);
}
/* ======================= patients list section end ======================= */

/* ======================= Middle Section start ======================= */
section.middle {
  flex: 0.55;
  height: calc(100vh - 120px);
  overflow-y: auto;
  scrollbar-width: thin;
}

#diagnosis-history,
#diagnostic-list {
  padding: 16px;
  background-color: var(--white);
  border-radius: 16px;
  border: '1px solid red';
}

/* ========================== Blood pressure section start ========================== */
.blood-pressure-card {
  border-radius: 12px;
  padding: 20px;
  background: var(--blood-pressure-card);
  width: 100%;
}

.blood-pressure-card .left {
  flex: 0.7;
}

.blood-pressure-card .right {
  flex: 0.3;
}

.blood-pressure-card .left .head {
  margin-bottom: 24px;
}

.blood-pressure-card .left .head select {
  background: none;
  border: none;
  font-size: 14px;
  margin-right: 16px;
}

.blood-pressure-card .info .point {
  height: 10px;
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.blood-pressure-card .info .point:nth-child(1) {
  background: #c26eb4;
}

.blood-pressure-card .info .point:nth-child(2) {
  background: #7e6cab;
}

.blood-pressure-chart {
  width: 100%;
  max-width: 600px;
  height: 300px;
}
/* ========================== Blood pressure section end ========================== */

/* ========================== Vitals section start ========================== */

.vital {
  border-radius: 12px;
  padding: 16px;
  width: 100%;
  height: 242px;
}

.vital img {
  max-height: 96;
  height: 40%;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: contain;
}

.vital:nth-child(1) {
  background-color: var(--respiratory-card);
}

.vital:nth-child(2) {
  background-color: var(--temperature-card);
}

.vital:nth-child(3) {
  background-color: var(--heart-rate-card);
}
/* ========================== Vitals section end ========================== */

/* ========================== Diagnostic list section start ========================== */

#diagnostic-list {
  padding-bottom: 5px;
}

#diagnostic-list table {
  width: 100%;
  border-collapse: collapse;
}

/* styling table head */
#diagnostic-list table thead tr {
  background-color: var(--body-background);
}

#diagnostic-list table thead th:first-child {
  border-radius: 24px 0 0 24px;
}

#diagnostic-list table thead th:last-child {
  border-radius: 0 24px 24px 0;
}

#diagnostic-list table th,
td {
  text-align: left;
  padding: 20px;
  font-size: 14px;
  font-weight: 700;
}

#diagnostic-list table th:first-child,
#diagnostic-list table th:last-child,
#diagnostic-list table td:first-child,
#diagnostic-list table td:last-child {
  width: 25%;
}

#diagnostic-list table tbody {
  height: 200px;
  overflow-y: auto;
  scrollbar-width: thin;
}

#diagnostic-list table tbody td {
  border-bottom: 1px solid var(--body-background);
  font-weight: 400;
}

/* ========================== Diagnostic list section end ========================== */
/* ======================= Middle Section end ======================= */

/* ======================= Right Section start ======================= */
section.end {
  flex: 0.225;
  height: calc(100vh - 120px);
  overflow-y: auto;
  scrollbar-width: thin;
}

section.end #patient-info {
  border-radius: 16px;
  padding: 24px 16px;
  background: var(--white);
}

section.end #patient-info .img-container {
  height: 200px;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  margin: 20px;
}

section.end #patient-info .img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

section.end #patient-info .details {
  width: 100%;
}

section.end #patient-info .info-line .icon-container {
  height: 42px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--body-background);
}

section.end #patient-info button {
  height: 41px;
  width: 220px;
  border-radius: 41px;
  background: var(--nav-item-active);
  margin-top: 20px;
}

/* ======================= Right Section end ======================= */
